{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<html>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Gaze tracking system</h3>
            <p>This system is created to track eye position and register the data.</p>
            <p>Received data can be analysed, currently implemented to evaluate if a student is cheating.</p>
            <h3 class="mt-5">Must register and login to use</h3>
        </div>
    </div>
</div>


</body>
</html>

{% endblock %}