# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Bakalauras_darbas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
